.clickable {
  @apply cursor-pointer select-none outline-none;
}

.section {
  @apply flex flex-col items-center;
}

.action {
  @apply clickable flex items-center justify-center py-2 px-4 rounded font-semibold;
}

.action__big {
  @apply p-6;
}

.inline-action {
  @apply clickable flex items-center py-3 pr-4 font-semibold;
}

.inline-action:hover,
.action:hover {
  @apply lighten-5 shadow-lg;
}

.inline-action:active,
.action:active {
  @apply darken-5 shadow-none;
}

.main-gradient {
  background: linear-gradient(rgba(33, 33, 33, 0.8), rgba(33, 33, 33, 1) 80vh);
}

.appbar-gradient {
  background: linear-gradient(rgba(33, 33, 33, 0.85), rgba(33, 33, 33, 0.9));
}

.sidebar-gradient {
  background: linear-gradient(rgba(33, 33, 33, 0.95), rgba(33, 33, 33, 1));
}

.yellow-link {
  text-decoration: underline;
  @apply text-naito-yellow-200;

  &:hover {
    @apply text-naito-yellow-100;
  }
}

.transperent-select {
  > select {
    @apply clickable block appearance-none bg-transparent pr-4 rounded;

    &:focus {
      @apply outline-none;
    }

    > option {
      @apply bg-gray-900;

      //prevent <option>s from becoming transparent on firefox
      &:not(:checked) {
        @apply text-gray-100;
      }
    }

    // hide firefox outline
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 theme('colors.gray.100');
    }
  }

  &::after {
    content: 'arrow_drop_down';

    font-family: 'Material Icons';
    top: theme('spacing.4');
    right: theme('spacing.4');
    @apply absolute pointer-events-none;
  }
}
